<div class="calendario">
  <div class="desplegables">
    <div class="columna1" style="float:left">
      Origen
      <select class="campos" ng-model="selectedSource" ng-change="showdestinations()" ng-options="x for x in sourceCities" />
    </div>
    <div class="columna2" style="float:left">
      Destino
      <select class="campos" ng-model="selectedDestination" ng-change="hideCalendar()" ng-options="x for x in destinationCities" />
      <button class="boton-buscar" type="button" ng-click="searchPromos()">Buscar</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<hr>
<div ng-if="showCalendar">
  <div class="columna1">
    <div>
      <h3 class="titulo-origen">{{selectedSource}} - {{selectedDestination}}</h3>
    </div>
    <div>
      <div ng-show="showCalendar1">
        <h3 class="desde">Desde {{events[sourceIndex].value}}</h3>
      </div>
    </div>
    <div ng-show="!showCalendar1">
      &nbsp
    </div>
    <div ui-calendar="uiConfig.calendar" ng-model="departureEventSource"></div>
  </div>
  <div class="columna2">
    <div>
      <h3 class="titulo-origen">{{selectedDestination}} - {{selectedSource}}</h2>
    </div>
    <div ng-show="showCalendar2">
      <h3 class="desde"><div ng-show="showFrom">Desde </div>{{events[destinationIndex].value}}</h3>
    </div>
    <div ng-show="!showCalendar2">
      &nbsp
    </div>
    <div ui-calendar="uiConfig.calendar" ng-model="arriveEventSource"></div>
  </div>
</div>
