<div class="col-md-12">
  <div class="col-md-6 col-md-offset-4">
    Origen
    <select ng-model="selectedSource" ng-options="x for x in sourceCities" /> Destino
    <select ng-model="selectedDestination" ng-change="searchPromos()" ng-options="x for x in destinationCities" />
  </div>
</div>
<br>
<br>
<br>
<div class="col-md-12" ng-if="selectedDestination">
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>{{selectedSource}} - {{selectedDestination}}</h3>
    </div>
    <div class="col-md-6">
      <h3>{{events[sourceIndex].value}}</h3>
    </div>
    <div ui-calendar ng-model="departureEventSource"></div>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>{{selectedDestination}} - {{selectedSource}}</h2>
    </div>
    <div class="col-md-6">
      <h3>{{events[destinationIndex].value}}</h3>
    </div>
    <div ui-calendar ng-model="arriveEventSource"></div>
  </div>
</div>
