h2 {
  font-size: 18px !important;
  font-family: "verdana" !important;
}

.container {
  width: 960px !important;
}

.calendario{
  width: 960px;
}

.columna1{
  float: left;
  width: 430px;

}

.columna2{
  float: left;
  width: 430px;
  margin-left: 40px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@charset "UTF-8";
/* CSS Document */
/*espacios desplegables y centrado*/
.desplegables{
    margin-top: 50px;
    text-align: center;
}

.titulo-origen{
	color: #96172e;
    font-family: "verdana";
    font-size: 19px;
	font-weight: bold;
}

.desde{
	color: #666;
    font-size: 20px;
    font-family: "verdana";
	margin-top: 5px;
}

.mes{
	font-size: 18px;
    font-family: "verdana";
}


.fc-toolbar {
	margin-top: 20px;

}


/*color cuadros calendario*/
.fc-widget-content {
    background: #f8f8f8;
}

.fc-event {
	line-height: 2.3 !important;
	border-radius: 0px;
}

/*quitar dos br ng-scope*/

.fc-scroller {
	overflow-y: hidden !important;
  height: 278px !important;
}
